<!DOCTYPE html>
<html lang="en">
<%- include('default/header') %>
<div id='datatable-container'>
  <table id='datatable'>
    <thead>
      <tr>
        <th>id</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%- include('default/footer') %>
</html>