<!DOCTYPE html>
<html lang="en">
<%- include('default/header') %>
<div id='datatable-container'>
  <button id='addRow'>Add</button>
  <table id='datatable'>
    <thead>
      <tr>
        <th>Saved</th>
        <th>Date</th>
        <th>Hours Worked</th>
        <th>Project</th>
        <th>Person</th>
        <th>Type</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%- include('default/footer') %>
</html>